#menu {
    float: left;
    width: auto;
    height: 500px;
    background: #ffffff;
    border: solid 1px #a2a2a2;
    margin-right: 5px;
}

#baloes_inteiros, #baloes_estourados {
    font-size: 40px;

}

#time {
     width: 140px;
     height: 132px;
     background-image: url("/img/cronometro.png");
     text-align: center;
}


#cronometro{
     color: red;
     font-size:30px;

}

#cenario {
    float:left; 
    width: 600px;
    height:500px;
    background-image: url("/img/cenario3.jpg");
}